<!DOCTYPE html>
<html>
    <body>
        <h2>Person's Infomation</h2>
        
        <table style = "width: 50%">
            <tr>
                <td>Person's Name:</td>
                <td><%=@name%></td>
            </tr>
            <tr>
                <td>Birth Year:</td>
                <td><%=@birth%></td>
            </tr>
        </table>
    </body>
</html>
 
